.footer {
  background-color: #222234;
  color: #f8fafc;
}

.footerName {
  color: #f8fafc;
  font-weight: 700;
  margin-bottom: 10px;
}

.footerRole {
  color: #06b6d4;
  font-weight: 600;
  margin-bottom: 10px;
}

.footerCopyright {
  color: #a1a1aa;
  margin-bottom: 0;
}