html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #151524;
  color: #f8fafc;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}